<template>
  <div class="container">
    <h2 class="is-size-4">Soulsborne Death Counter</h2>
    <div class="columns is-centered has-text-centered">
      <div class="column is-1">
        <decrement-button />
      </div>
      <div class="column is-1">
        <h2 class="is-size-2">{{ count }}</h2>
      </div>
      <div class="column is-1">
        <increment-button />
      </div>
    </div>

    <br>

    <ul v-if="bosses">
      <li
        class="list-item"
        v-for="boss in bosses"
        :key="boss.name"
      >
        <div class="columns">
          <div class="column is-7">
            {{ boss.name }}
          </div>
          <div class="column is-1">
            {{ boss.count }}
          </div>
          <div class="column is-1">
            <boss-decrement-button :boss="boss" />
          </div>
          <div class="column is-1">
            <boss-increment-button :boss="boss" />
          </div>
        </div>
      </li>
    </ul>

    <div class="columns is-centered">
      <div class="column is-6">
        <input
          class="input"
          type="text"
          name="bossName"
          placeholder="Enter boss name"
          v-model="newBoss.name"
          @keypress.enter="addBoss({ name: newBoss.name, count: 0 })"
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import IncrementButton from '../components/IncrementButton.vue';
import DecrementButton from '../components/DecrementButton.vue';
import BossDecrementButton from '../components/BossDecrementButton.vue';
import BossIncrementButton from '../components/BossIncrementButton.vue';

export default {
  name: 'CounterPage',
  components: {
    BossIncrementButton,
    BossDecrementButton,
    DecrementButton,
    IncrementButton,
  },
  data() {
    return {
      newBoss: {
        name: null,
      },
    };
  },
  methods: mapActions({
    addBoss: 'addBoss',
  }),
  computed: {
    ...mapState({
      bosses: (state) => state.bosses,
    }),
    ...mapGetters({
      count: 'getFullCount',
    }),
  },
};
</script>

<style scoped>

</style>
