<template>
  <button
    class="button is-medium"
    @click="increment"
  >+</button>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'IncrementButton',
  methods: mapActions({
    increment: 'increment',
  }),
};
</script>

<style scoped>

</style>
